extends admin_layout

block content
	h1= title
	hr
	input(type='button' id='btn-show' value='SHOW DB')
	input(type='button' id='btn-add' value='ADD to DB')
	div#showDB

	br
	//- for data in student_list
		//- div= data.id + ' ' + data.year_st + ' '+data.semester+ ' ' +data.id_sub+ ' ' +data.name_sub+ ' ' +data.credits+ ' ' +data.gpa+ ' ' +data.score


